@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/Helvetica-Bold.ttf") format("ttf"),url("./assets/fonts/helvetica-light-587ebe5a59211.ttf") format("ttf"),url("./assets/fonts/Helvetica.ttf") format("ttf"),url("./assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf") format("otf"),url("./assets/fonts/Helvetica-Oblique.ttf") format("ttf"),url("./assets/fonts/Helvetica-BoldOblique.ttf") format("ttf"),
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

*{
    font-family: "Helvetica";
}

/*hide scrollbar*/
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.hide-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100vh;
  }
}

.animate-gradient {
  animation: movingGradient 20s linear infinite;
  background: linear-gradient(
    45deg,
    #3498db,
    #9b59b6,
    #e91e63,
    #2196f3,
    #ff4081,
    #f39c12,
    #8e44ad,
    #2ecc71,
    #e74c3c
  );
  background-size: 400% 400%;
  position: relative;
  overflow: hidden;
}

.animate-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  animation: waveAnimation 10s linear infinite;
}